/* Initially hide all content with [lang] attribute so they don't flicker */
[lang] {
    display: none;
}

.lang-selector {
    text-align: right;
    margin: 0 !important; /* Remove any margin */
    padding-top: 0 !important; /* Remove any padding */
    height: 115px;
}

.lang-selector form {
    display: inline-block; /* Ensure form width is determined by its contents */
}

.lang-selector label {
    display: inline-block; /* Ensure form width is determined by its contents */
}

.lang-selector select {
    width: 125; /* Adjust width as needed */
    color: #000;
}